@import "tailwindcss";

@theme {
  /* Colores principales */
  --color-primary: #114477;
  --color-secondary: #C41E2F;
  
  /* Textos */
  --color-text-main: #2D2D2D;
  --color-text-muted: #4B5563;
  
  /* Superficies (Cards, modales, etc.) */
  --color-card-bg: #F0F2F5;
  --color-card-border: #E4E9F2;
  
  /* Formularios */
  --color-input-border: #8A94A6;

  /* Fuentes */
  --font-primary: var(--font-montserrat), sans-serif;
  --font-secondary: var(--font-open-sans), sans-serif;
}